<link rel="stylesheet" href="stylesheets/style.css" />

<header>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Work</a></li>
        </ul>
    </div>
</header>

<h1>About</h1>
<div>
    <h2>Early Life</h2>
    <p>Born in 1983 to Kelly Houston in New York City, Eggers is unsure of his biological father's identity. He and his mother relocated to Laramie, Wyoming, where she later married Walter Eggers and gave birth to twins, Max and Sam. The family eventually settled in Lee, New Hampshire, when Walter became a provost at the University of New Hampshire. In 2001, Eggers moved to New York City to attend the American Musical and Dramatic Academy. While writing his first feature, he drew inspiration from his childhood in New England and frequently visited the Plimoth Plantation in Plymouth, Massachusetts.</p>
</div>
<div>
    <h2>Career</h2>
    <p>Eggers began his career in New York as a designer and director of theatre productions before transitioning to filmmaking. His directorial debut, the horror film The Witch, premiered at the Sundance Film Festival in 2015 and was released theatrically in 2016. The film was well-received by critics and earned over $40 million at the box office. Eggers's next film, The Lighthouse, was also critically acclaimed. In 2022, he released The Northman, a Viking epic featuring a star-studded cast.</p>
</div>
<div>
    <h2>Personal Life</h2>
    <p>Eggers is married to Dr. Alexandra Shaker, a clinical psychologist whom he has known since childhood. They have a son, Houston (born 2018/19). They reside in Brooklyn, New York City.</p>
</div>

