<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <h1>Robert Eggers</h1>
    <p>Robert Houston Eggers (born July 7, 1983)[1] is an American filmmaker and production designer. He is best known for writing and directing the historical horror films The Witch (2015) and The Lighthouse (2019), as well as directing and co-writing the historical fiction epic film The Northman (2022). His films are noted for their folkloric and mythological elements, as well as his efforts to ensure historical authenticity.</p>
    <img src="images/robert.jpg" />
    <div>
        <ul>
            <li><a href="/about">About him</a></li>
            <li><a href="/works">Work</a></li>
          </ul>
    </div>
    <script src=""></script>
</body>
</html>