<link rel="stylesheet" href="stylesheets/style.css" />

<header>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Him</a></li>
        </ul>
    </div>
</header>

<div class="filmone">
  <img id=poster1 src="images/the witch.jpeg" alt="Thw Witch Poster"/>
  
  <div class="textone">
   <h2>Sinopsis</h2>
    <p>New England, 1630: William and Katherine, a devout couple, settle on the edge of civilization, trying to cultivate a piece of land in the middle of a still wilderness. They lead a pious life with their five children, but when their newborn son mysteriously disappears and the crops are suddenly spoiled, they turn on each other.</p>
    <p>7.8/10 average rating on Rotten Tomatoes (332 ratings)</p> 
  </div>
  
</div>


<div class="filmtwo">
  <img id=poster2 src="images/the lighthouse.jpg" alt="The Lighthouse Poster"/>

  <div class="texttwo">
   <h2>Sinopsis</h2>
   <p>The film is set on a remote and mysterious New England island in the late 19th century, and features a hypnotic and hallucinatory story of two lighthouse keepers.</p>
   <p>8.0/10 average rating on Rotten Tomatoes (385 ratings)</p>
  </div>
</div>


<div class="filmthree">
  <img id=poster3 src="images/the northman.jpg" alt="The Northman Poster"/>
   
  <div class="textthree">
  <h2>Sinopsis</h2>
   <p>Prince Amleth is about to become a man when his father is brutally murdered by his uncle, who kidnaps the boy's mother. Two decades later, Amleth is now a Viking who attacks Slavic villages. He meets a seer who reminds him of his vow: to save his mother, kill his uncle, and avenge his father.</p>
   <p>7.7/10 average rating on Rotten Tomatoes (372 ratings)</p>
  </div>
</div>

