body {
    background-color: rgb(245, 245, 194);
}

#poster1 {
    width: 30%;
    height: auto;
}

#poster2 {
    width: 30%;
    height: auto;
}

#poster3 {
    width: 30%;
    height: auto;
}

.filmone {
    display: grid;
    align-items: center;
}

